
<div id="body">
    <div class="myaccount">
        <p class="du"><b>Mon Compte</b></p>
        <div class="username">
            <p class="duu"><b>Pseudonyme :</b>{{data.name}}</p>
        </div>
        <div class="password">
            <p class="duu"><b>Score :</b>{{data.score}}</p>
        </div>
        <div class="password">
            <p class="duu"><b>Nombre de partie :</b>{{data.nb_partie}}</p>
        </div>
        <div class="password">
            <p class="duu"><b>Ratio de victoire :</b>{{win_rate * 100}} %</p>
        </div>
        <a href="/sign-out">
            <input type="button" value="Déconnexion">
        </a>

    </div>
</div>
