<div class="rule_container">

    <div class="rule_text">

        <p id="rule_title"> --- Règle du jeu ---</p>

        <p id="rule_paragraph">

            <br>Règle du jeu : <br><br>

                Pour pouvoir joué au jeu il faut tous d'abord être connecté à son compte sur le site.<br>

                Suite à ça, on peut ce mettre prêt, le jeu se lancera celament quand 2 joueurs serons prets<br>

                Tous autres personnes serons spectateurs au match. <br><br>

            But :<br><br>

                Le joueur doit envoyé la ball dans le camp du joueur adverse pour marqué 1 point<br>

                Après cela, si un joueur marque 8 points, alors la partie et gagné pour ce joueur.<br>

                Le score est alors inséré dans le scoreboard !<br>















        </p>

    </div>

</div>