<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
</head>
<body>

    <script>

        var socket = io();

        socket.on('error', function(data){
            console.log('error : ', data.msg);
            alert('error : ', data.msg);
        });

        

    </script>


    <form action="" method="POST">

        <figcaption>Enregistrer votre compte en complétant ses informations</figcaption>
        <input type="text" placeholder="username">

        <input type="submit">


    </form>
</body>
</html>